.svg-i-close-blue {
	background: url("svg/sprite.css-ff7d2625.svg") 43.90243902439025% 90% no-repeat;
}

.svg-i-close-blue-dims {
	width: 24px;
	height: 24px;
}

.svg-i-fb {
	background: url("svg/sprite.css-ff7d2625.svg") 61.855670103092784% 81.81818181818181% no-repeat;
}

.svg-i-fb-dims {
	width: 9px;
	height: 19px;
}

.svg-i-holding {
	background: url("svg/sprite.css-ff7d2625.svg") 0 0 no-repeat;
}

.svg-i-holding-dims {
	width: 48px;
	height: 45px;
}

.svg-i-ig {
	background: url("svg/sprite.css-ff7d2625.svg") 100% 0 no-repeat;
}

.svg-i-ig-dims {
	width: 19px;
	height: 19px;
}

.svg-i-mute {
	background: url("svg/sprite.css-ff7d2625.svg") 71.64179104477611% 0 no-repeat;
}

.svg-i-mute-dims {
	width: 39px;
	height: 29px;
}

.svg-i-tw {
	background: url("svg/sprite.css-ff7d2625.svg") 98.86363636363636% 32.20338983050848% no-repeat;
}

.svg-i-tw-dims {
	width: 18px;
	height: 15px;
}

.svg-i-volume {
	background: url("svg/sprite.css-ff7d2625.svg") 0 100% no-repeat;
}

.svg-i-volume-dims {
	width: 36px;
	height: 29px;
}

