.svg-i-close-blue {
	background: url("svg/sprite.css-6abac8f8.svg") 100% 0 no-repeat;
}

.svg-i-close-blue-dims {
	width: 24px;
	height: 24px;
}

.svg-i-fb {
	background: url("svg/sprite.css-6abac8f8.svg") 85.29411764705883% 51.06382978723404% no-repeat;
}

.svg-i-fb-dims {
	width: 9px;
	height: 19px;
}

.svg-i-holding {
	background: url("svg/sprite.css-6abac8f8.svg") 0 0 no-repeat;
}

.svg-i-holding-dims {
	width: 48px;
	height: 45px;
}

.svg-i-ig {
	background: url("svg/sprite.css-6abac8f8.svg") 94.56521739130434% 91.48936170212765% no-repeat;
}

.svg-i-ig-dims {
	width: 19px;
	height: 19px;
}

.svg-i-mute {
	background: url("svg/sprite.css-6abac8f8.svg") 66.66666666666667% 0 no-repeat;
}

.svg-i-mute-dims {
	width: 39px;
	height: 29px;
}

.svg-i-tw {
	background: url("svg/sprite.css-6abac8f8.svg") 51.61290322580645% 56.86274509803921% no-repeat;
}

.svg-i-tw-dims {
	width: 18px;
	height: 15px;
}

.svg-i-volume {
	background: url("svg/sprite.css-6abac8f8.svg") 0 100% no-repeat;
}

.svg-i-volume-dims {
	width: 25px;
	height: 21px;
}

