/* RULES */
body {
  font-size: 18px;
  font-family: adobe-devanagari, sans-serif;
  letter-spacing: 0.04em;
  /* hacks IE 11 */
  &.IE {
  }
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
section,
footer,
.button,
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  font-weight: 400;
}

h2 {
  font-size: 70px;
  line-height: 83px;
}

h3 {
  font-size: 25px;
}

h4 {
}

p {
  margin: 0px;
}

b,
strong {
}

a {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
  }
}

ul.reset,
.slick-dots {
  list-style: none;
  margin: 0px;
  padding: 0px;
  li {
    outline: none;
  }
}

.p-none {
  pointer-events: none;
}

.close {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

/* GENERAL */
.o-hidden {
  overflow: hidden;
}

.bg-blue1 {
  background-color: $color-blue1;
}

.bg-gray1 {
  background-color: $color-gray1;
}

.bg-color1 {
  background-color: $color-color1;
}

.text-blue1 {
  color: $color-blue1;
}

.text-gray1 {
  color: $color-gray1;
}

.right-icos {
  right: 60px;
  top: 60px;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.s-steps {
  width: 100%;
  &.bot {
    bottom: 0px;
  }
  &.standard-transition {
    @include transition(all 1s ease-in-out);
  }
}

.section-start {
  z-index: 2;
}

.section-loading {
  &:after,
  &:before {
    @include dombasic;
    top: 0px;
    height: 100%;
    width: 20vw;
  }
  &:after {
    left: 0px;
    background: linear-gradient(
      to right,
      rgba(25, 38, 64, 0.65) 0%,
      rgba(25, 38, 64, 0) 100%
    );
  }
  &:before {
    right: 0px;
    background: linear-gradient(
      to left,
      rgba(25, 38, 64, 0.65) 0%,
      rgba(25, 38, 64, 0) 100%
    );
  }
  .photo.load {
    img {
      width: 100%;
    }
  }

  .counter {
    @include transform(translateY(-50%));
    top: 50%;
    right: 90px;
    height: 22px;
    overflow: hidden;
  }
  .counter-load {
    &.hide {
      display: none;
    }
    span {
      transition-timing-function: cubic-bezier(1, 0.75, 0.5, 0.25);
      width: 10px;
      word-wrap: break-word;
      display: inline-block;
      font-size: 20px;
      line-height: 22px;
      position: relative;
      text-align: center;
      &.data-divider {
        top: -198px; // 9 * -22
      }
    }
  }
}

.section-form {
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(1, 0.75, 0.5, 0.25);
  padding: 180px 3rem 90px 3rem;
  top: 0px;
  height: 100%;
  position: fixed;
  overflow: auto;
  .tooltip-source {
    bottom: 0px;
    .icon-container {
      width: calc(63px);
      text-align: left;
    }
    .text-container {
      width: calc(100% - 63px);
      letter-spacing: 0.1em;
      font-size: 12px;
    }
    &.toggleNotActive {
      opacity: 0;
      pointer-events: none;
    }
  }
  .links a {
    @include transition(all 0.5s ease-in-out);
    &:hover {
      opacity: 0.75;
    }
  }
}

/* responsive */
@media (max-width: 1500px) {
  .section-loading .counter {
    right: 30px;
  }
}

@media (min-width: 768px) {
  .section-form .tooltip-source {
    right: 0px;
    width: 100%;
    max-width: calc(100vw - 30px);
    padding: 22.5px 22.5px 22.5px 15px;
    position: absolute;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 32px;
    line-height: 33px;
  }
  h3 {
    font-size: 14px;
    line-height: 18px;
  }
  .input-easy {
    font-size: 12px;
  }
  .section-form {
    padding: 90px 1.5rem 45px 1.5rem;
    .tooltip-source {
      right: -1.5rem;
      width: calc(100% + 3rem);
      min-height: 100vh;
      padding: 90px 60px;
      position: fixed;
      .right-icos {
        top: calc(60px - 1.5rem);
      }
      .text-container {
        width: 100%;
        max-height: calc(100vh - 180px);
        overflow: auto;
      }
      .icon-container {
        position: absolute;
        bottom: 30px;
        right: 40px;
      }
    }
  }
}
