//color
$color-blue1: #192640;
$color-gray1: #f7eee7;
$color-gray2: #fbf4ef;
$color-dark1: #042118;
$color-color1: #ffa38a;
$color-color2: #eda092;
$color-color3: #ae2b3e;
$color-color4: #9c4b29;

@mixin dombasic {
  content: " ";
  display: block;
  position: absolute;
}

@mixin rectangle($rectangle) {
  width: $rectangle;
  height: $rectangle;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($custom) {
  -webkit-transform: ($custom);
  -moz-transform: ($custom);
  -ms-transform: ($custom);
  -o-transform: ($custom);
  transform: ($custom);
}

@mixin filter($custom) {
  -webkit-filter: $custom;
  -moz-filter: $custom;
  -ms-filter: $custom;
  -o-filter: $custom;
  filter: $custom;
}

@mixin photo {
  position: relative;
  overflow: hidden;
}

@mixin img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@mixin limit($lines, $height) {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  height: $height;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin burger {
  @include rectangle(48px);
  @include transition(all 0.5s ease-in-out);
  cursor: pointer;
  background-image: url("../images/ico/png/list_expand.png");
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  background-size: cover;
}

@mixin burgerActive {
  border-color: #fff;
}

@mixin expands {
  top: calc(100% + 1rem);
  position: absolute;
  right: -1rem;
}

@keyframes heightGrow {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
